body{
    font-size: 1rem;
}


.logo {
    margin-bottom:50px;
}

.logo h1{
    padding:20px;
}

h1 {
    font-size: 3rem;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container-btns{
    overflow: hidden;
    box-sizing: border-box;
}

.container-btns label{
    overflow: hidden;
    width: 49%;
    margin: 0;
    padding: 0;
    height: 40px;
}

img {
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#header-form p{
    font-size: 2rem;
}

label, input, .form-group {
    font-size: 1rem;
}

@media (min-width: 544px) {
    label, input[type="text"], input[type="email"], input[type="number"], .form-group {font-size:1rem;} /*1rem = 16px*/
    h1 {font-size: 3rem;}
    #header-form p{font-size: 2rem;}
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    label, input[type="text"], input[type="email"], input[type="number"], .form-group  {font-size:2rem;} /*1rem = 16px*/
    h1 {font-size: 3rem;}
    #header-form p{font-size: 2rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    label, input[type="text"], input[type="email"], input[type="number"], .form-group  {font-size:2.5rem;} /*1rem = 16px*/
    h1 {font-size: 3rem;}
    #header-form p{font-size: 2rem;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    label, input[type="text"], input[type="email"], input[type="number"], .form-group  {font-size:1.5rem;} /*1rem = 16px*/
    h1 {font-size: 3rem;}
    #header-form p{font-size: 2rem;}
}

.login-page{
    background: url(../img/banner.jpg);
    background-size: cover;
}

#register-form{
    background: white;
}

#header-form{
    background: rgba(121, 106, 238, 0.9);
    color: white;
    text-align: center;
}

#btnRegister{
    margin-top: 10px;
    margin-bot: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

#btnLogin{
    padding: 20px;
    margin: 10px;
}

label {
    font-style: italic!important;
}

 .error {
     color: #d9534f;
 }
