.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-contract {
    height: 30%;
}

.displayarea > img {
    height: 100px;
}

span {
    background-color: transparent;
    color: #000000;
    font-family: Arial;
    font-size: 10pt;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline
}

canvas {
    height: 300px !important;
}

#signature1 {
    border: grey;
    border-style: solid;
    border-width: 1px;
}

body {
    background-color: darkgrey;
}

.split {
    /*height: 80%;*/
    width: 45%;
    position: absolute;
    /*z-index: 1;*/
    top: 0;
    /*overflow-x: hidden;*/
    padding-top: 20px;

}

/* Control the left side */
.left {
    left: 25px;
    background-color: whitesmoke;
}

/* Control the right side */
.right {
    right: 25px;
    background-color: white;
}

.h-80 {
    position: relative;
    width: 100%;
}

li {
    background-color: transparent;
    color: #000000;
    font-family: Arial;
    font-size: 10pt;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
}

ul{
    list-style: none;
}

#semnaturaArtist{
    display: none;
}

#mcontainer{
    margin-left: 50px;
    margin-right: 50px;
    background-color: darkgray;
}

.h-80 .d-inline-block {
    background-color: white; 
    overflow:scroll;
    padding-left: 20px;
    padding-right: 20px;
}
